<form action="index.php?route=extension/payment/paystation/initiate_payment" method="post">
    <div class="buttons">
        <div class="pull-right">
            You will be redirected to Paystation Payment Gateway to complete your payment
            <input type="submit" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary"/>
        </div>
    </div>
</form>
